numpy==1.24.3
scipy
filterpy
scikit-image==0.21.0
scikit-learn==1.3.1
opencv-python==4.8.1.78
pandas==2.0.3
pycocotools==2.0.7
Cython==3.0.2
lap>=0.5
onnx
onnxruntime
imageio==2.31.5
loguru==0.7.2
gdown==4.7.1
tabulate==0.9.0
thop==0.1.1.post2209072238
tqdm
pyyaml
matplotlib
motmetrics
yacs==0.1.8
cython_bbox
torchreid
tensorboard
termcolor
fvcore
iopath
easydict
